# Local env files
.env
.env.local

# Elixir build artifacts
/_build/
/deps/
/cover/

# Generated static assets (keep phoenix JS + compiled CSS)
/priv/static/assets/*
!/priv/static/assets/phoenix.min.js
!/priv/static/assets/phoenix_live_view.min.js
!/priv/static/assets/app.css

.DS_Store/
